<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="card">
      <div class="card-content">
        <!-- show any messages that come back with authentication -->
        <h1><span class="fa fa-sign-in"></span> Login</h1>
        {{#if message.length}}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="row">
              <div class="form-group input-field col s12">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email">
              </div>
            </div>
            <div class="row">
              <div class="form-group input-field col s12">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>
      </div>
    </div>
  </div>
</div>
